{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "importOrder": [
    "react",
    "^react-ace",
    "^ace-builds/src-noconflict/",
    "^(@sockets).*",
    "^(@api).*",
    "^(@store).*",
    "^(@helpers|@contexts|@constants|@utils|@hooks).*",
    "^@",
    "^src",
    "^.*/components/(.*)$",
    "^(..\\/|.\\/)[^@].*(?<!css)$",
    "^.*.(module).css$",
    "^.*.css$"
  ],
  "importOrderSeparation": true
}

