.ProblemVerdicts {
  position: relative;

  overflow-x: hidden;
}

.ProblemVerdictsTable {
  height: 100%;

  overflow-y: auto;
}

.detailsArrow {
  cursor: pointer;

  transform: rotate(270deg);
}

.verdictStatus {
  color: var(--color-red-light);
}

.verdictStatusOk {
  color: var(--color-green-light);
}

.verdictStatusPending {
  color: var(--color-black-typo-primary);
}

.row {
  display: flex;
  gap: 10px;

  font-size: 14px;
}

.loadingContainer {
  width: auto;
  height: auto;
  padding: 0;
}

.loading {
  width: 10px;
  height: 10px;
}
