.avatar {
  position: relative;

  display: flex;
  flex-direction: column;

  text-align: center;
}
.avatarPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding-top: 5px;

  color: white;
  font-size: 16px;

  border-radius: 50%;

  background-color: var(--color-green-light);
}

.badge {
  position: absolute;
  bottom: 6px;
  right: 5px;

  display: block;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: var(--color-green-light);
}

.user {
  display: flex;
  align-items: center;

  column-gap: 6px;
}

.avatarImg {
  width: 40px;
  height: 40px;

  border-radius: 40px;
}
