.problemStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  padding: 12px 26px 10px 26px;

  color: #363645;
  font-size: 12px;

  border-radius: 10px;

  background-color: #f4f5f6d3;
}

.problemStatusFailed {
  color: var(--color-red-light);

  background-color: #e9cecf;
}

.problemStatusPassed {
  text-align: center;

  background-color: var(--color-green-light);
}
