.problemSolutionDetails {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  overflow-y: auto;
  padding-right: 8px;
}

.problemSolutionDetails.isOpen {
  transform: translateX(0);
}

.detailsHeader {
  display: flex;
  gap: 4px;
  align-items: center;
}

.title {
  color: var(--color-black-typo-primary);
  font-weight: 500;
  font-size: 20px;
}

.arrowBack {
  cursor: pointer;

  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.detailsContent,
.detailsInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.codeBlock {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 16px;

  font-size: 14px;
  line-height: 18px;

  border-radius: 10px;

  background-color: var(--color-white-grey);
}
