.sendCodeButton {
  justify-self: start;

  color: var(--color-white-gray);
}

.sendCodeButton:disabled {
  color: var(--color-black-typo-primary);

  background-color: var(--color-white-grey);
}
