.problemSolutionVerdicts {
  margin-top: 24px;
}
.detailsArrow {
  cursor: pointer;

  transform: rotate(270deg);
}

.verdictStatus {
  color: var(--color-red-light);
}

.verdictStatusOk {
  color: var(--color-green-light);
}

.verdictStatusPending {
  color: black;
}

.row {
  font-size: 14px;
  display: flex;
  gap: 10px;
}

.loadingContainer {
  padding: 0;
  height: auto;
  width: auto;
}

.loading {
  height: 10px;
  width: 10px;
}
