.arrow {
  display: flex;
  justify-content: center;

  cursor: pointer;
}

.open {
  background: var(--color-white-grey);
}

.dropdown {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin: 10px 0 0 0;

  overflow-x: scroll;
}

.rotated {
  transform: rotate(180deg);
}
