.arrow {
  display: flex;
  justify-content: center;

  cursor: pointer;
}

.open {
  background: var(--color-white-grey);
}

.dropdown {
  display: flex;
  overflow-x: scroll;
  width: 150px;
  /* padding-top: 12px; */
}

.rotated {
  transform: rotate(180deg);
}
