.blockWrapper {
  grid-area: comments;

  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;

  overflow: hidden;
}

.title {
  justify-self: center;

  color: var(--color-black-typo-primary);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
