@import './assets/design/fonts.css';

:root {
  /* White palette */
  --color-white: #fff;
  --color-white-grey: #f4f5f6;

  /* Black palette */
  --color-black: #000;
  --color-black-typo-primary: #363645;

  /* Grey palette */
  --color-grey-secondary: #7f8488;
  --color-grey-disabled: #dbdbdb;

  /* Yellow palette */
  --color-yellow-primary: #ffe147;

  /* Green palette */
  --color-green-light: #a0eab9;

  /* Red palette */
  --color-red-light: #f15959;

  --scrollbar-foreground: rgba(83, 83, 83, 0.5);
  --scrollbar-background: var(--color-white-grey);

  --color-table-row: #f9fafb;
}

main.light-theme {
  --color-white: #fff;
  --color-white-grey: #f4f5f6;

  /* Black palette */
  --color-black: #000;
  --color-black-typo-primary: #363645;

  /* Grey palette */
  --color-grey-secondary: #7f8488;

  --scrollbar-foreground: rgba(83, 83, 83, 0.5);
  --scrollbar-background: var(--color-white-grey);
}

main.dark-theme {
  --color-white: #404244;
  --color-white-grey: #2a2a2d;

  /* Black palette */
  --color-black: #ffffff;
  --color-black-typo-primary: #fff;

  /* Grey palette */
  --color-grey-secondary: #94999d;

  --scrollbar-foreground: rgba(255, 255, 255, 0.5);
  --scrollbar-background: var(--color-white-grey);

  --color-table-row: #404244;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;

  background-color: var(--color-white-grey);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modalOpen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

html {
  /* плашка-бегунок и фон */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  margin-block: 2px;

  background: var(--scrollbar-background);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: var(--scrollbar-foreground);

  transition: background 0.3s;
}
.short {
  display: -webkit-box;

  text-overflow: ellipsis;

  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
