.problemStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  padding: 12px 26px 10px 26px;

  font-size: 12px;

  border-radius: 10px;

  background-color: var(--color-white-grey);
}

.problemStatusFailed {
  background-color: #e9cecf;
  color: var(--color-red-light);
}

.problemStatusPassed {
  background-color: var(--color-green-light);
}
