.LeaderBoardContainer {
  display: flex;
  flex-direction: column;
}

.lastEventsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lastEventWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  max-width: 570px;
}
.lastEventTitle {
  color: var(--color-grey-secondary);
  font-size: 16px;
}
.lastEventContent {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 12px;
  line-height: 24px;
  color: var(--color-black-typo-primary);
}
.lastEventTime {
  color: var(--color-grey-secondary);
}

.LeaderBoardTable{
  margin-top: 24px;
  padding: 16px 16px;
  border-radius: 12px;
  background-color: var(--color-white);
  height: 100%;
  overflow-y: auto;
}

.LeaderBoardTable th {
  color: var(--color-black-typo-primary);
  font-size: 16px;
}