.LeaderBoardContainer {
  display: flex;
  flex-direction: column;
}

.lastEventsWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.lastEventWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;

  max-width: 570px;
}
.lastEventTitle {
  color: var(--color-grey-secondary);
  font-size: 16px;
}
.lastEventContent {
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 16px;

  color: var(--color-black-typo-primary);
  line-height: 24px;

  border-radius: 12px;

  background-color: var(--color-white);
}
.lastEventTime {
  color: var(--color-grey-secondary);
}

.LeaderBoardTable {
  height: 100%;
  margin-top: 24px;
  padding: 16px 16px;

  border-radius: 12px;

  background-color: var(--color-white);

  overflow-y: auto;
}

.LeaderBoardTable th {
  padding: 0;

  color: var(--color-black-typo-primary);
  font-size: 16px;
  text-align: center;
}
.LeaderBoardTable tr {
  height: 72px;

  border-radius: 8px;
}
.LeaderBoardTable td {
  font-size: 16px;
  text-align: center;
}

.LeaderBoardTable td:nth-child(2) {
  text-align: left;
}
.LeaderBoardTable td:last-child {
  color: var(--color-red-light);
}

.LeaderBoardTable td:nth-last-child(2) {
  font-size: 20px;
}

/* Четные строки */
.LeaderBoardTable tbody tr:nth-child(even) {
  background: var(--color-table-row);
}
.LeaderBoardTable tbody tr:hover {
  background: inherit;

  outline: 1px solid #ffe147;
}

.LeaderBoardTable tbody tr:nth-child(even):hover {
  background: var(--color-table-row);

  outline: 1px solid #ffe147;
}
